apiVersion: v1
kind: Secret
metadata:
  name: subscriber
  namespace: crypto-trade
  labels:
    app: subscriber
    tier: back
stringData:
  MIGRATIONS_URL: github://mmontes11:<PERSONAL_ACCESS_TOKEN>@mmontes11/crypto-trade/cmd/subscriber/model/migrations
